---
import Card from '@/components/ui/Card.astro';
import GradedListItem from '@/components/ui/GradedListItem.astro';
import SectionTitle from '@/components/ui/SectionTitle.astro';
import Svg from '@/components/ui/Svg.astro';
import TimeWindow from '@/components/ui/TimeWindow.astro';
import Typography from '@/components/ui/Typography.astro';
import GraduationCap from '@/svg/graduation-cap.svg?raw';
import University from '@/svg/university.svg?raw';
import databaseClient from 'tina/__generated__/databaseClient';
import { t } from 'i18next';
import type { EducationsQuery } from 'tina/__generated__/types';
import ExternalLink from '@/components/ui/ExternalLink.astro';

const edEdges = (await databaseClient.queries.educationsConnection({})).data
  .educationsConnection.edges;
const eds: NonNullable<EducationsQuery['educations']>[] = [];

edEdges?.forEach((edge) => {
  if (edge?.node) {
    eds.push(edge.node);
  }
});
---

{
  eds.length > 0 && (
    <Card>
      <Fragment slot="title">
        <SectionTitle title={t('education')} svgHtml={GraduationCap} />
      </Fragment>
      <Fragment slot="content">
        <ul class="flex flex-col gap-5">
          {eds.map((ed) => {
            return (
              <GradedListItem grade={ed.grade} docUrl={ed.document || null}>
                <span slot="title">
                  {ed?.institute && ed?.url ? (
                    <ExternalLink href={ed.url} label={ed.institute}>
                      {ed?.institute}
                    </ExternalLink>
                  ) : (
                    ed.institute
                  )}
                </span>
                <div class="flex flex-col gap-0.5" slot="subtitle">
                  <Typography variant="muted">
                    <Svg svgHtml={University} />
                    {ed?.degree}
                  </Typography>
                  <TimeWindow
                    start={new Date(ed.startDate)}
                    end={new Date(ed.endDate)}
                  />
                </div>
              </GradedListItem>
            );
          })}
        </ul>
      </Fragment>
    </Card>
  )
}
